@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #293845;
}

/* HEADER */

header {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 4rem;
  /* height: 4.75rem; */
}

header img {
  height: 1.25rem;
}

header button {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #f6c325;
  cursor: pointer;
}

/* INTRODUCTION */

#introduction {
  background-image: url("/images/introductionBackground.png");
  background-size: contain;
  height: 34.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

#introduction img {
  height: 34.5rem;
  position: absolute;
  right: 0;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  padding: 0 4rem;
  z-index: 1;
}

h1 span {
  color: #ffa012;
}

/* SCROLL */

/* .mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

.scroll {
  margin: 0;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
} */

hr {
  margin: 0 4rem;
  height: 2px;
  border: none;
  background-color: #f6c325;
}

#why-should hr {
  margin: 0;
}

#why-should {
  margin: 0 4rem;
}

article {
  margin: 0 6rem;
}

h2 {
  padding: 2.5rem 0 2.5rem 0;
  font-size: 1.65rem;
  color: #293845;
  text-align: center;
}

#why-should p {
  font-weight: 400;
  padding: 0 2rem 2.25rem 2rem;
  padding: 0.75rem 2rem 3rem 2rem;
  font-size: 1.15rem;
}

#why-should ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  grid-auto-flow: dense;
  list-style-type: none;
  margin: 3rem;
}

#reason-list p {
  padding: initial;
  font-size: 1.025rem;
}

.reason h4 {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.reason h4 span {
  font-size: 2rem;
  margin-right: 1rem;
  color: #f6c325;
  align-self: flex-start;
}

.reason {
  transition: 300ms ease;
}

.reason:hover {
  transform: scale(1.05);
}

p {
  font-size: 1.15rem;
}

#comparison {
  display: flex;
  margin: 3rem 0;
  justify-content: space-evenly;
}

#pros,
#cons {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  /* flex: 1; */
}

#comparison i {
  align-self: flex-start;
  font-size: 3.25rem;
  margin-top: -0.75rem;
}

#pros i {
  margin-top: -1rem;
}

#pros i,
#pros h3 {
  color: #63be75;
}

#cons i,
#cons h3 {
  color: #ff4f5b;
}

#comparison h3 {
  margin-bottom: 2rem;
}

#comparison ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#comparison li {
  display: flex;
}

#comparison p {
  font-size: 1.025rem;
}

#comparison li li {
  display: list-item;
  list-style-type: disc;
}

#comparison ul ul {
  gap: 0.5rem;
  margin: 0.5rem 0 0 3rem;
}

#package-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: #f2f5f7;
  border: 3.5px solid #c3cfd9;
  width: fit-content;
  transition: 300ms ease;
}

.package:hover {
  /* box-shadow: 0 0 20px #c6d3dd; */
  transform: scale(1.02);
}

.package h3 {
  text-align: center;
  font-size: 1.45rem;
}

.package ul {
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.package li {
  display: flex;
  width: 15rem;
  height: fit-content;
  break-inside: avoid;
}

#premium li {
  margin-bottom: 1.25rem;
}

#basic li {
  margin-bottom: 1.75rem;
}

.package p {
  font-size: 0.9rem;
}

.package i {
  align-self: flex-start;
  font-size: 2.5rem;
  margin-top: -0.75rem;
  color: #63be75;
}

.package button {
  margin-top: auto;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #f6c325;
  cursor: pointer;
}

#premium ul {
  display: block;
  column-count: 3;
  column-gap: 0rem;
}

#premium {
  height: fit-content;
}

#consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#consultation p {
  text-align: center;
}

#consultation .package {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  transform: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form input {
  padding: 0.5rem;
  border: 2.25px solid #c3cfd9;
}

form input:focus {
  outline: none !important;
  border: 2.25px solid #7f878e;
  /* box-shadow: 0 0 10px #c6d3dd; */
}

.about {
  margin-bottom: 3rem;
}

#consultation button {
  padding: 0.45rem 2rem;
}
#count-customers {
  margin: 3.5rem;
  font-size: 3.5rem;
}

@media only screen and (max-width: 1150px) {
  #why-should ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    grid-auto-flow: dense;
    margin: 3rem;
  }
  /* article {
    margin: 1.5rem;
  } */

  /* cover background */
  /* Add hover */
}

@media only screen and (max-width: 850px) {
  #why-should ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1.5rem;
  }
  article {
    margin: 1.5rem;
  }
}
